// ==============================
// Custom style
// ==============================
// You can override the variables in _variables.scss to customize the style

// 2017-09-10 添加版权信息 start
// https://arcecho.github.io/2017/04/08/Hexo-Next下添加版权声明模块/
.post-copyright {
   margin: 2em 0 0;
   padding: 0.5em 1em;
   border-left: 3px solid #ff1700;
   background-color: #f9f9f9;
   list-style: none;
}
// 2017-09-10 添加版权信息 end